body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
     background-image: url('../src/components/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

nav{
  position: fixed;  
  background-color: lightgrey;;
}
#about-me-container{
  padding-top: 10%;
  flex-wrap: wrap 
}

#about-me{
  float: right;
}
#contact-me{
  float: left;
}

#card-contact{
  height: auto;
}

.fa {
  font-size: 48px;
}

.fa {
  font-size: 48px;
}

.fas {
  font-size: 25px;
}

footer {
  margin-top: 30px;
 padding: 10px 20px;
  background: lightgray;
  color: black;
  text-align: center;
  position: fixed;;
      bottom:0;
      display:block;  
      width:100%
}

#portfolio-container{
  margin-bottom: 100px;
}
#contact-form{
 width: fit-content;
}