body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
     background-image: url('../src/components/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

nav{
  position: fixed;  
  background-color: lightgrey;;
}
#about-me-container{
  padding-top: 10%;
  flex-wrap: nowrap | wrap | wrap-reverse;
}

#about-me{
  float: right;
}
#contact-me{
  float: left;
}

#card-contact{
  height: auto;
}

.fa{
  font-size: 48px;
}